/* basic styles */
.skeleton {
    background: #ddd;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 4px;
  }
  .skeleton.title {
    width: 200px;
    height: 15px;
  }
  .skeleton.avatar {
    width:  65px;
    height: 65px;
    border-radius: 50%;
  }
  .skeleton.icon {
    width: 40px;
    height: 40px;
  }
  .skeleton.iconsmall {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .skeleton.input {
    width: 80%;
    height: 40px;
  }
  .skeleton.inputbutton {
    width: 300px;
    height: 40px;
  }
  .skeleton.button{
    width: 80px;
    height: 40px;
  }