

.leaflet-container {
    margin-top: 5rem;
    height: 70% !important;
    width: 90%;
    z-index: 1 !important;
  }

  .modalss{
    outline: thin solid red;
    z-index: 50 !important;
  }

#map{
   z-index: 1;
} 




  /*======articles=================*/

  .scroll-article{
    background-color: white;
   
    width: 300px;
    display: flex;
    min-width: 300px;

  }
  .scroll-article img{
  
    width: 50%;
  }
  .scroll-parent{
    
    display: flex;
    gap: 50px;
    overflow-x: scroll;
    margin-bottom: 1rem;
  }

  ::-webkit-scrollbar {
    width: 1px;
  }
  

   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0384C6; 
    border-radius: 20px;
    max-width: 1px !important;
    margin-top: 2rem;
  }

  .leaflet-routing-container {
    display: none !important;
  }
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  } */