#map {
  height: 70vh;
  background-color: blue;
}

.leaflet-container {
  height: 100%;
}

.ph-search {
  background: #f3f6f9;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 167px;
}
